<div class="user-page">
  <div class="user-page-title">
    <h1><%= @user.username %>'s Homepage</h1>
  </div>

  <div class="user-stats-container">
    <div class="user-stats">
      <div class="user-ratings">
        <p>User ratings: Coming soon...</p>
      </div>

      <div class="user-shop">
        <p>
          In the mean time, check out <%= @user.username %>'s
          <%= link_to 'shop', user_shop_path(@user) %>!
        </p>
      </div>
    </div>
  </div>
</div>
