/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'variables';
@import 'scaffolds';
@import 'baskets';
@import 'products_home';
@import 'products_show';
@import 'shop&cart';

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 6em;
}

div.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6em;
  background-color: hsla(60, 12%, 15%, 1);
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  div {
  display: flex;
  align-items: center;
    p {
     margin: 0;
    }
  }
  div.footer-admin {
  grid-column: 1 / 3;
    p {
      a {
       color: white;
       text-decoration: none;
      }
      a:hover {
       background-color: inherit;
       color: hsla(243, 41%, 56%, 1);
      }
    }
  }
  div.footer-text {
  grid-column: 8 / 11;
  justify-content: flex-end;
    p {
     color: white;
    }
  }
}
