// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.carts-show {
  margin: 0;
}

div.cart-header {
  height: 5em;
  padding: 0 3em;
  margin: 2em 0;
  display: flex;
  align-items: center;
  & > h1 {
    margin: 0;
  }
}

table.shopping-cart, th, td {
  border-top: 0.1em solid grey;
  border-collapse: collapse;
}

table.shopping-cart {
  width: 75%;
  margin: 2em;
  & > tbody {
    & > tr {
      height: 15em;
      &:first-child, &:last-child {
        height: 5em;
      }
      & > th {
        font-weight: normal;
        text-align: right;
      }
      & > td {
      }
      & > td.cart-image-container {
        width: 20%;
        & > a {
          & > img {
            border-radius: 100em;
          }
        }
      }
      & > td.cart-name-container {
        width: 50%;
        & > p {
          & > a {
            color: #1259f2;
            text-decoration: none;
            &:hover {
              color: orange;
            }
          }
        }
      }
      & > td.cart-price-container {
        width: 15%;
        & > p {
          color: #f53029;
          text-align: right;
        }
      }
      & > td.cart-quantity-container {
        width: 15%;
        & > p {
          text-align: right;
        }
      }
      & > td.cart-subtotal {
        border-top: 0.1em solid grey;
        & > p {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
