// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.home-header {
  height: 100vh;
  background: url(image-path("home-background.jpg")) no-repeat center fixed;
  background-size: cover;
  @include mobile {
    position: relative;
    background: url(image-path("home-background.jpg")) center;
  }
  & > div.home-header-website {
    padding: 3em 0 3em 10em;
    @include mobile {
      padding: 1em;
    }
    & > p {
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      & > span.black {
        color: black;
      }
    }
  }
  & > div.home-header-title {
    max-width: 500px;
    height: 20em;
    padding: 2em;
    margin: 15em 0 0 5em;
    @include mobile {
      position: absolute;
      top: 35%;
      height: auto;
      padding: 1em;
      margin: 0;
      display: block;
    }
    & > p {
      overflow: hidden;
      color: white;
      font-size: 2.7rem;
      font-weight: bold;
      line-height: 1.2em;
      margin: 0;
    }
  }
  & > div.home-header-action-container {
    max-width: 500px;
    margin-left: 5em;
    display: flex;
    @include mobile {
      position: absolute;
      bottom: 5px;
      width: 100%;
      margin: 0;
    }
    & > a.home-header-signup {
      @include home-header-buttons($home-signup-background, white, $home-signup-border);
    }
    & > a.home-header-login {
      @include home-header-buttons(white, $home-signup-background, $home-login-border);
    }
    & > a:hover {
      @include home-header-buttons($home-signup-background-hover, white, $home-signup-border);
      cursor: pointer;
    }
  }
}

div.home-banner {
  margin: 3em 0;
  & > div.home-banner-description {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include mobile {
      padding: 3em 2em;
    }
    & > p {
      width: 100%;
      font-size: 2rem;
      line-height: 1.3em;
      text-align: center;
      margin: 0.5em 0 0.2em 0;
    }
  }
}

div.home-main {
  box-shadow: $box-shadow-top-bottom;
  padding: 2em 1em;
  margin-bottom: 5em;
  @include mobile {
    box-shadow: none;
    margin: 0;
  }
  & > div.home-main-new-release {
    padding-left: 1.5em;
    & > p {
      font-size: 1.2rem;
    }
  }
  & > ul.home-main-products-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include mobile {
      display: block;
    }
    & > li {
      padding: 0.8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & > div.product-info-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > p {
          width: 100%;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}
