body.users-sessions-new, body.users-sessions-create, body.devise-registrations-new {
  padding: 0;
}

div.ls-page {
  min-height: 100vh;
  background: url(image-path("login-min.jpg")) no-repeat center fixed;
  background-size: cover;
  opacity: 0;
  animation: fade-in 1.5s forwards;

  & > div.ls-header {
    height: 3em;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    & > div > p {
      margin: 0;
      color: $ls-header-color;
      font-size: 1.2rem;
      font-weight: bold;
    }
    & > div.ls-header-website {
      & > p {
        & > a {
          color: $ls-header-color;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
        & > span.white {
          color: white;
        }
      }
    }
    & > div.ls-header-signup, & > div.ls-header-login {
      & > p {
        text-align: right;
        & > span.signup > a, & > span.login > a {
          color: $ls-header-signup-color;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  & > div.login-main {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    & > div.login-form-container {
      & > div.login-logo-container {
        text-align: center;
        & > img {
          height: 140px;
          width: 140px;
        }
      }
      & > form.new_user {
        & > div.login-form-field {
          margin-bottom: 2em;
          & > label {
            font-size: 1rem;
            margin-bottom: 0.5em;
            padding-left: 0.5em;
          }
          & > input {
            @include login_input_field($ls-input-background-color);
            padding-left: 0.8em;
            &:focus {
              outline: none;
            }
          }
        }
        & > div.login-form-submit {
          & > input {
            @include login_input_field($ls-submit-background-color);
            color: white;
            font-weight: bold;
            margin-top: 20px;
            &:hover {
              cursor: pointer;
              background-color: white;
              color: $ls-submit-background-color;
              border: 2px solid $ls-submit-background-color;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  & > div.signup-main {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    & > div.signup-form-container {
      & > form.new_user {
        & > div.signup-form-field {
          margin-bottom: 2em;
          & > label {
            font-size: 1rem;
            margin-bottom: 0.5em;
            padding-left: 0.5em;
          }
          & > input {
            @include login_input_field($ls-input-background-color);
            padding-left: 0.8em;
            &:focus {
              outline: none;
            }
          }
        }
        & > div.signup-form-submit {
          & > input {
            @include login_input_field($ls-submit-background-color);
            color: white;
            font-weight: bold;
            margin-top: 20px;
            &:hover {
              cursor: pointer;
              background-color: white;
              color: $ls-submit-background-color;
              border: 2px solid $ls-submit-background-color;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

}
