div.navbar-container {
  height: 7em;
  background: $navbar-color;
  box-shadow: $box-shadow-top-bottom;
  padding: 1.5em 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  & > div {
    display: flex;
    align-items: center;
    & > p {
      color: $navbar-text-color;
      font-size: 1.2rem;
      line-height: 1.2em;
      margin: 0;
      & > a {
        text-decoration: none;
        &:visited {
          color: inherit;
        }
        &:hover {
          background-color: inherit;
          color: white;
        }
      }
    }
  }
  & > div.navbar-shop, & > div.navbar-cart {
    justify-content: center;
  }
  & > div.navbar-login {
    grid-column: 4 / 5;
    justify-content: flex-end;
    & > p {
      text-align: right;
      & > span.login > a {
      color: $navbar-login-color;
      text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}
