div.navbar-container {
  height: 6em;
  background: $navbar-color;
  box-shadow: $box-shadow-top-bottom;
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;

  & > div.navbar-searchbar-container {
    width: 48vw;
    display: flex;
    align-items: center;
    & > form.searchbar-form {
      width: 100%;
      display: flex;
      align-items: center;
      & > div.navbar-searchbar {
        width: 100%;
        & > input {
          height: 2em;
          width: 100%;
          border: none;
          border-radius: 3px 0 0 3px;
          font-size: 1.2rem;
          padding: 0 0 0 0.5em;
          &:focus::placeholder {
            color: transparent;
          }
        }
      }
      & > div.searchbar-submit {
        display: flex;
        align-items: center;
        & > input {
          background: url(image-path("search.gif")) center;
          background-size: cover;
          width: 40px;
          height: 40px;
          border: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  & > div.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    & > div {
      margin: 0 0.5em;
      display: flex;
      align-items: center;
      & > p {
        color: $navbar-text-color;
        font-size: 1.2rem;
        margin: 0;
        & > a {
          text-decoration: none;
          &:visited {
            color: inherit;
          }
          &:hover {
            background-color: inherit;
            color: white;
          }
        }
      }
    }
    & > div.navbar-shop, & > div.navbar-cart {
      justify-content: center;
    }
    & > div.navbar-login {
      justify-content: flex-end;
      & > p {
        text-align: right;
        & > span.login > a {
        color: $navbar-login-color;
        text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
