// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.home-header {
  height: 100vh;
  background: url(image-path("home-background.jpg")) no-repeat center fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  div.home-header-website, div.home-header-title {
    grid-column: 2 / 5;
    display: flex;
    justify-content: center;
  }
  div.home-header-website {
    grid-row: 1 / 2;
    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      margin-top: 2em;
      span.black {
        color: black;
      }
    }
  }
  div.home-header-title {
    grid-row: 5 / 8;
    p {
      overflow: hidden;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.2em;
      color: white;
      margin: 0;
    }
  }
  div.home-header-action-container {
    grid-column: 2 / 5;
    grid-row: 8 / 9;
    display: flex;
    a {
      width: 50%;
      margin: 1em;
      border-radius: 0.5em;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    a.home-header-signup {
      background-color:	hsla(229, 81%, 49%, 1);
      border: 0.2em solid hsla(214, 69%, 23%, 1);
      p {
        color: white;
      }
    }
    a.home-header-login {
      background-color:	white;
      border: 0.2em solid hsla(229, 81%, 49%, 1);
      p {
        color: hsla(229, 81%, 49%, 1);
      }
    }
    a:hover {
      cursor: pointer;
      background-color: hsla(197, 50%, 55%, 1);
      border: 0.2em solid hsla(214, 69%, 23%, 1);
      p {
        color: white;
      }
    }
  }
}

div.home-navbar-container {
  height: 7em;
  background: linear-gradient(25deg, hsla(165, 60%, 53%, 1), hsla(185, 100%, 73%, 0.8), hsla(191, 65%, 57%, 1));
  box-shadow: $box-shadow-top-bottom;
  padding: 1.5em 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  div {
    display: flex;
    align-items: center;
    p {
      color: hsla(175, 69%, 16%, 1);
      font-size: 1.2rem;
      line-height: 1.2em;
      margin: 0;
      a {
        text-decoration: none;
      }
      a:visited {
        color: inherit;
      }
      a:hover {
        background-color: inherit;
        color: white;
      }
    }
  }
  div.home-navbar-shop, div.home-navbar-cart {
    justify-content: center;
  }
  div.home-navbar-login {
    grid-column: 4 / 5;
    justify-content: flex-end;
    p {
      text-align: right;
      span.login {
      color: hsla(355, 69%, 26%, 1);
      }
    }
  }
}

div.home-banner {
  div.home-banner-description {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;
      margin: 0.5em 0 0.2em 0;
      font-size: 2rem;
      text-align: center;
    }
  }
}

div.home-main {
  // background: linear-gradient(135deg, hsla(311, 100%, 61%, 0.7), hsla(281, 64%, 38%, 0.7), hsla(251, 100%, 61%, 0.7));
  box-shadow: $box-shadow-top-bottom;
  padding: 2em 1em;
  margin-bottom: 5em;
  div.home-main-new-release {
    padding-left: 1.5em;
    p {
      font-size: 1.2rem;
    }
  }
  ul.home-main-products-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    li {
      padding: 0.8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.product-image-container a img {
        border-radius: 100em;
      }
      div.product-image-container:hover {
        opacity: 0.7;
        a:hover {
          background-color: inherit;
        }
      }
      div.product-info-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > p {
          width: 100%;
          text-align: center;
          margin: 0;
          &:first-child {
            margin-top: 1em;
            a {
              color: $user-name-color;
              text-decoration: none;
              &:hover {
                color: orange;
              }
            }
          }
          &:last-child {
            color: $price-color;
          }
        }
      }
    }
  }
}
