// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  color: hsla(0, 0%, 80%, 1)
}

body.products-home {
  margin: 0 !important;
}

div.home-header {
  height: 100vh;
  background: url(image-path("home-background.jpg")) no-repeat center fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  div.home-header-website, div.home-header-title {
    grid-column: 2 / 5;
    display: flex;
    justify-content: center;
  }
  div.home-header-website > p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-top: 2em;
    span.black {
      color: black;
    }
  }
  div.home-header-title > p {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2em;
    color: white;
  }
}

div.home-navbar-container {
  height: auto;
  background: linear-gradient(25deg, hsla(165, 60%, 53%, 1), hsla(185, 100%, 73%, 0.8), hsla(191, 65%, 57%, 1));
  -webkit-box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
          box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  div {

    p {
      font-size: 1rem;
      font-weight: 600;
      a {
        text-decoration: none;
      }
    }
    p a:visited {
      color: inherit;
    }
  }
  div.home-navbar-login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p {
      width: 100%;
      margin: 0;
    }
  }
}

div.home-banner {
  div.home-banner-description {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;
      margin: 0.5em 0 0.2em 0;
      font-size: 2rem;
      text-align: center;
    }
  }
}

div.home-main {
  -webkit-box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
          box-shadow: 0 0.25em 0.6em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.19);
  padding: 2em 1em;
  div.home-main-new-release {
    padding-left: 1.5em;
    p {
      font-size: 1.2rem;
    }
  }
  ul.home-main-products-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    li {
      padding: 0.8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.product-image-container a img {
        border-radius: 100em;
      }
      div.product-image-container:hover {
        opacity: 0.7;
        a:hover {
          background-color: inherit;
        }
      }
      div.product-info-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
          width: 100%;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}
