// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.sc-header {
  height: 5em;
  padding: 0 3em;
  margin: 2em 0;
  display: flex;
  align-items: center;
  & > h1 {
    margin: 0;
  }
}

table.sc-main-table, table.sc-main-table th, table.sc-main-table td {
  border-top: 0.1em solid grey;
  border-collapse: collapse;
}

table.sc-main-table {
  width: 75%;
  margin: 2em;
  &.shop {
    width: 90%;
    & > thead > tr > th > a.add-item {
      @include button;
    }
    & > thead > tr > th:last-child, & > tbody > tr > td:last-child {
      @include mobile {
        display: none;
      }
    }
  }
  &.cart {
    @include mobile {
      width: auto;
    }
    & > thead > tr > th:first-child, & > tbody > tr > td:nth-child(2),
    & > tbody > tr:last-child {
      @include mobile {
        display: none;
      }
    }
  }
  & > thead {
    & > tr {
      height: 5em;
      & > th {
        font-weight: normal;
        text-align: right;
        &:first-child {
          text-align: center;
          & > a {
            text-decoration: none;
          }
        }
      }
    }
  }
  & > tbody {
    & > tr {
      height: 15em;
      & > td.sc-image-container {
        width: 20%;
        & > a {
          & > img {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      & > td.sc-name-container {
        width: 50%;
        &.shop {
          width: 40%;
        }
        & > p {
          & > a {
            color: $product-name-color;
            text-decoration: none;
            &:hover {
              color: orange;
            }
          }
          & > span.user-name > a {
            color: $user-name-color;
            text-decoration: none;
            &:hover {
              color: orange;
            }
          }
          & > span.remove-item > a {
            color: $remove-item-color;
            text-decoration: none;
            &:hover {
              color: $remove-item-hover-color;
            }
          }
        }
      }
      & > td.sc-price-container {
        width: 15%;
        &.shop {
          width: 10%;
        }
        & > p {
          text-align: right;
        }
      }
      & > td.sc-quantity-container {
        width: 15%;
        p {
          text-align: right;
        }
      }
      & > td.sc-date-container.shop {
        width: 30%;
        p {
          text-align: right;
          line-height: 1.5rem;
          margin: 0;
        }
      }
      & > td.sc-subtotal {
        border-top: 0.1em solid grey;
        & > p {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}

div.cart-main-container {
  display: flex;
  @include mobile {
    display: block;
  }
  & > div.product-payment-container {
    width: 25%;
    margin: 1em;
    @include mobile {
      width: auto;
      margin: 2em;
    }
    & > div.payment-form-container {
      border: 2px solid orange;
      box-shadow: $box-shadow-add-item;
      border-radius: 5px;
      padding: 2em;
      p {
        font-weight: bold;
      }
      & > form.payment-form {
        & > div.payment-message {
          margin-bottom: 2em;
          & > p {
            margin: 0;
          }
        }
        & > label.payment-amount {
          margin-bottom: 1em;
        }
      }
    }
  }
}
