// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$box-shadow-add-item: 1px 1px 3px 0 hsla(0, 0%, 0%, 0.2), 1px 1px 3px 0 hsla(0, 0%, 0%, 0.25);

div.sc-header {
  height: 5em;
  padding: 0 3em;
  margin: 2em 0;
  display: flex;
  align-items: center;
  & > h1 {
    margin: 0;
  }
}

table.sc-main-table, table.sc-main-table th, table.sc-main-table td {
  border-top: 0.1em solid grey;
  border-collapse: collapse;
}

table.sc-main-table {
  width: 75%;
  margin: 2em;
  &.shop {
    width: 90%;
    & > thead > tr > th > a.add-item {
      background: linear-gradient(135deg, #1534b0, #5177ff, #1534b0);
      box-shadow: $box-shadow-add-item;
      color: white;
      font-weight: bold;
      border-radius: 0.5em;
      padding: 1em;
      &:hover {
        background: linear-gradient(135deg, #110b4d, #4e6bde, #110b4d);
        box-shadow: none;
      }
    }
  }
  & > thead {
    & > tr {
      height: 5em;
      & > th {
        font-weight: normal;
        text-align: right;
        &:first-child {
          text-align: center;
          & > a{
            text-decoration: none;
          }
        }
      }
    }
  }
  & > tbody {
    & > tr {
      height: 15em;
      & > td.sc-image-container {
        width: 20%;
        & > a {
          & > img {
            border-radius: 100em;
          }
        }
      }
      & > td.sc-name-container {
        width: 50%;
        &.shop {
          width: 40%;
        }
        & > p {
          & > a {
            color: #1259f2;
            text-decoration: none;
            &:hover {
              color: orange;
            }
          }
          & > span {
            color: red;
          }
        }
      }
      & > td.sc-price-container {
        width: 15%;
        &.shop {
          width: 10%;
        }
        & > p {
          color: #f53029;
          text-align: right;
        }
      }
      & > td.sc-quantity-container {
        width: 15%;
        p {
          text-align: right;
        }
      }
      & > td.sc-date-container.shop {
        width: 30%;
        p {
          text-align: right;
          line-height: 1.5rem;
          margin: 0;
        }
      }
      & > td.sc-subtotal {
        border-top: 0.1em solid grey;
        & > p {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
