$login-header-color: #073f40;
$login-input-background-color: #e3e3e3;
$login-submit-background-color: #020fc2;

$navbar-color: linear-gradient(25deg, hsla(165, 60%, 53%, 1), hsla(185, 100%, 73%, 0.8), hsla(191, 65%, 57%, 1));
$navbar-text-color: hsla(175, 69%, 16%, 1);
$navbar-login-color: hsla(355, 69%, 26%, 1);

$footer-background-color: hsla(60, 12%, 15%, 1);
$footer-admin-option-hover-color: hsla(243, 41%, 56%, 1);

$home-signup-background: hsla(229, 81%, 49%, 1);
$home-signup-background-hover: hsla(197, 50%, 55%, 1);
$home-signup-border: 0.2em solid hsla(214, 69%, 23%, 1);
$home-login-border: 0.2em solid hsla(229, 81%, 49%, 1);

$box-shadow-top-bottom: 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 0.25em 0 hsla(0, 0%, 0%, 0.19);
$box-shadow-add-item: 1px 1px 3px 0 hsla(0, 0%, 0%, 0.2), 1px 1px 3px 0 hsla(0, 0%, 0%, 0.25);
$user-name-color: #943dff;
$product-name-color: #1259f2;
$quantity-color: #4ab81b;
$price-color: #f53029;
$remove-item-color: #ad0300;
$remove-item-hover-color: #00ad0c;
