$box-shadow-top-bottom: 0 0.25em 1.25em 0 hsla(0, 0%, 0%, 0.2), 0 0.25em 0.25em 0 hsla(0, 0%, 0%, 0.19);
$box-shadow-add-item: 1px 1px 3px 0 hsla(0, 0%, 0%, 0.2), 1px 1px 3px 0 hsla(0, 0%, 0%, 0.25);
$user-name-color: #943dff;
$product-name-color: #1259f2;
$quantity-color: #4ab81b;
$price-color: #f53029;
