<div class="product-new-edit-page">
  <div class="product-new-edit-title">
    <h1>Edit Product</h1>
  </div>

  <div class="product-new-edit-form-container">
    <%= render 'form', product: @product %>
  </div>
</div>
