<div class="navbar-container">
  <div class="navbar-home">
    <p><%= link_to 'Home', root_path %></p>
  </div>
  <div class="navbar-shop">
    <p><%= show_shop(current_user) %></p>
  </div>
  <div class="navbar-cart">
    <p><%= show_cart(current_user) %></p>
  </div>
  <div class="navbar-login">
    <%= show_login_link(current_user) %>
  </div>
</div>
